#content-area{
    margin: 0px;
    padding: 0px;
    top: 0px;
}

#clear:hover, #restore:hover, #dropdown-save:hover{
    font-weight: bold;
}

#create-link:hover, #gallery-link:hover{
    color: #4c00ff;
}

/* modify bootstrap checkbox */
.custom-checkbox:checked{
        background-color:rgb(37,37,37);
}

/* modify range slider */
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: 'none';
    background: rgb(37,37,37);
    height: 17px;
    width: 7px;
    border-radius: 2px;
    border: 1px solid white;
}
  

/* Remove if  want same color for side nav on all pages */
/* #nav-menu-border{
    background-color: rgba(0, 0, 0, 0.9);
    background-color: rgba(37, 37, 37, 0.9); 
  }  */


.canvas-modify-option{
    color: rgb(37, 37, 37);
    letter-spacing: .2rem;
    
}

.coloring-options {
    /* color: rgb(37, 37, 37);
    background-color: rgba(255, 255, 255, 0.65); */

    background-color: rgb(37, 37, 37);
    color: rgba(255, 255, 255, 0.65); 

    letter-spacing: .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;  
    text-align: center;
    width: 100%;
    position: relative;
    top: -16px;
    left: 0px;
    border-left: 1px solid #4c00ff;
}

.coloring-field {
    padding-top: 30px;
    padding-bottom: 10px;
}


.canvas-buttons{
    padding-bottom: 10px;
    text-align: center;
}

.canvas-buttons button {
    border-radius: 5px;
    color: white;
    background-color: rgb(37, 37, 37);  
}

.canvas-buttons button:hover{
    background-color: blanchedalmond;
    color:rgb(37, 37, 37);  
}


#undo,
#redo,
#delete-obj,
#color-fill,
#select-object {
    border-radius: 50%;
}


#art-canvas {
    text-align: center;
}

.canvas-container{
    margin: 0 auto;
}

#c,
#c-bg {
    display: inline-block;
    vertical-align: middle;
}

#save-form{
    background-color: transparent;   
}
.dropdown-menu{
    background-color: rgba(255, 255, 255, 0.35);
}