 /* #flash-msg{ */
    /* position: absolute;  */
    /* z-index: 1;   */
    /* height: 5%;  */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color:#7FFF00;  */
    /* text-align: center;  */
    /* width:100%; */
    /* margin-bottom: 0;
} */

/* #side-nav{
    z-index: 2;
    position: absolute; 
}   */

.canvas-buttons button{
    border-radius: 5px;
    color: white;
    background-color: rgb(37, 37, 37);
}

#art-canvas{
    text-align: center;
}

.canvas-container{
    margin: 0 auto;
}

#c, #c-bg{ 
    display: inline-block;
    vertical-align: middle;
}

#undo,
#redo,
#delete-obj,  
#color-fill, 
#select-object{
    border-radius: 50%;
}

#submit-artwork-update:hover,#submit-portfolio-update:hover{
    background-color: #303030;
    color: white; 
}

#update-p-title{
    display: flex;
    width: 75%;
    
}

/* FIGURE OUT HOW TO DISPLAY SAVE BTN ON RIGHT SIDE OF INPUT*/
#submit-portfolio-update{
    display: grid;
    color: #303030;
    background-color: white;
    width: 20%;
    border-radius: 5px;
}

#submit-artwork-update{
    color: #303030;
    background-color: white;
    border-radius: 5px;
    width:100%; 
    height:25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

#delete-artwork:hover, #delete-portfolio:hover{
    background-color: #fc2647;
    color: white; 
}

#delete-artwork, #delete-portfolio{
    color: #fc2647;
    background-color: white;
    border-radius: 5px;
    width:100%; 
    height:25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    
}

.card-options li{
    margin:10px; 
}

.card-options input, select{
    width: 100%;
    height: 25px;
}

.parallax {
    /* The image used */
    background-image: url('/static/assets/brick-wall.jpg');
    
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
  @media only screen and (max-device-width: 1366px) {
    .parallax {
      background-attachment: scroll;
    }
  }
 
  #current-title{
    background-color:rgb(250, 250, 250); 
    color:rgb(38, 151, 226);
    border-radius: 4px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    cursor: none;
  }