 /* #flash-msg{ */
    /* position: absolute;  */
    /* z-index: 1;   */
    /* height: 5%;  */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* background-color:#7FFF00;  */
    /* text-align: center;  */
    /* width:100%; */
    /* margin-bottom: 0;
} */

/* #side-nav{
    z-index: 2;
    position: absolute; 
}   */



.canvas-buttons button{
    border-radius: 5px;
    color: white;
    background-color: rgb(37, 37, 37);
}

#art-canvas{
    text-align: center;
}

.canvas-container{
    margin: 0 auto;
}

#c{ 
    display: inline-block;
    vertical-align: middle;
}

#undo,
#redo,
#delete-obj,  
#color-fill, 
#select-object{
    border-radius: 50%;
}