#logo {
    display: flex;
    align-items: center;
    height: 70px;
    width: 130px;
    background-image: url('../../static/assets/water-color1.png');
    background-size: 55px 55px;
    background-position: 70% 45%;
    background-repeat: no-repeat;
    color: #4c00ff;
    font-size: 25px;
    font-weight: lighter;
    
}


#nav-menu-bar, #nav-menu-border{
    width: auto;
}

 #nav-menu-border{
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-color: rgba(0, 0, 0, 0.95);
 }

 #logout{
    color: #0084ff;
    margin: 5px;
    width: auto;
    text-align: center;
    margin-bottom: 40px;
    
}

#out-icon:hover, #logout:hover{
    color: #4c00ff;
    font-weight: bold;
}

.unclicked{
    font-weight: bold;
    color: #0084ff;
}

.unclicked:hover{
    color: #4c00ff;
}

.clicked{
    font-weight: bold;
    color: #4c00ff;
}


body {
    background-image: linear-gradient(rgba(76, 0, 255, 1), rgba(255, 255, 255, 0.1)),
        url(/static/assets/geo-pattern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


