{% extends 'base.html' %}

{% block title %} ARTwrks {% endblock %}

{% block navbar %} 
<nav>
    <span>ARTwrks</span>       
</nav>
{% endblock %}

{% block content %}

<form action="/login" method="POST">
    <h4>LOGIN</h4>

    <label for="email">Email</label>
    <input type="email" name="email" id="email"><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br>

    <input type = "submit">
</form>

<form action="/signup" method="GET">
    <span>Don't have an account?</span><button>SIGNUP</button>
</form>  

{% if error %}
    <p> {{ error }} </p>
   
{% endif %}





{% endblock %}