{% extends 'base.html' %}

{% block title %} ARTwrks - login {% endblock %}

{% block navbar %}
<nav style="background-color: orange;">
    <span>ARTwrks</span>    
</nav> 
{% endblock %}


{% block content %}

    <form action="/validate-user" method="POST">
        <h4>LOGIN</h4>

        <label for="email">Email</label>
        <input type="email" name="email" id="email"><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password"><br>

        <input type = "submit">
    </form>

    {% if error %}
        <p> {{ error }} </p>
        <button><a href="/signup"> SIGN UP </a></button> 
    {% endif %}
  

{% endblock %}