{% extends 'base.html' %}

{% block title %} ARTwrks - {{ session.get('username') }}{% endblock %}

{% block head %} 
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.21.4/babel.min.js"></script>
{% endblock %}

{% block navbar %}
 
{% endblock %}

{% block content %}

 <div id="root"></div>
 <script type="text/jsx" src="/static/js/new-artwork.jsx"></script>

{% endblock %}