{% extends 'base.html' %}

{% block title %} ARTwrks - {{ session.get('username') }}{% endblock %}

{% block head %}

{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

<div class="container-fluid" id="side-nav">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span>ARTwrks</span> <br></br>
                <!-- <span class="fs-5 d-none d-sm-inline" id="menu"> Menu </span>  -->
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" id="create-link">
                            <span class="ms-1 d-none d-sm-inline">Create</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" id="gallery-link">
                            <span class="ms-1 d-none d-sm-inline">Gallery</span></a>
                    </li>
                    <br>


                    <div id="nav-menu"></div>

                    <li>
                        <a href="/logout" class="nav-link px-0 align-middle" id="logout">
                            <span class="ms-1 d-none d-sm-inline">Logout</span></a>
                    </li>

                </ul>
            </div>
        </div>


        <div class="col py-3" id="content-area"></div>


    </div>
</div>

{% endblock %}

{% block bodybottom %}
<script src="/static/js/art-canvas.js"></script>
<script src="/static/js/gallery.js"></script>
<script src="/static/js/side-nav.js"></script>

{% endblock %}