{% extends 'base.html' %}

{% block title %} ARTwrks - {{ session.get('username') }}{% endblock %}

{% block head %}

{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}

<div class="container-fluid" id="side-nav">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span>ARTwrks</span>
                <span class="fs-5 d-none d-sm-inline">Menu </span> <br></br>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline" id="create-link">Create</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle" > 
                            <span class="ms-1 d-none d-sm-inline" id="gallery-link">Gallery</span></a>
                    </li>

                    <div id="nav-menu"></div>

                    
                    </li>
                    <a href="/logout" class="nav-link px-0 align-middle" id="logout">
                        <li>Log out</li>
                    </a>
                </ul>
            </div>
        </div>


        <div id="content-area"></div>


    </div>
</div>

{% endblock %}

{% block bodybottom %}
<script src="/static/js/side-nav.js"></script> 
{% endblock %}